.service-section {
    height: calc(100vh - 70px);
    /* max-height: 1100px; */
    display: flex;
    scroll-margin-top: 70px;
    background: url(../../images/17564656_SL_042620_30310_19.jpg);
    background-position: center;
    background-size: cover;
}

/* ===== Service Left Div Start ===== */
.service-left-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    /* border-right: 1px solid; */
}

.service-cards-container {
    position: relative;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.service-cards-container div:nth-child(even){
    animation-delay: -5s;
}

.service-card {
    width: 230px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    box-shadow: 0 0 3px;
    padding: 0 5px;
    border-radius: 10px;
    text-transform: capitalize;
    background-color: black;
    color: white;
    animation: shake 10s linear infinite;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(70px);
    }
    100% {
        transform: translateX(0);
    }
}

.service-card-top {
    display: flex;
    gap: 5px;
    font-weight: bold;
}

.service-card p {
    padding-left: 10px;
}
/* ===== Service Left Div End ===== */


/* ===== Service Right Div Start ===== */
.service-right-section {
    width: 50%;
    display: flex;
    justify-content: center;
    background: url(../../images/maldives-2.jpg);
    background-position: center;
    background-size: cover;
}

#plane-conatiner {
    width: 200px;
    height: 140px;
    background: url(../../images/maldives-1.jpg);
    background-position: center;
    background-size: cover;
    /* background-color: antiquewhite; */
}
/* ===== Service Right Div End ===== */